.akan{
    color: red;
    background-image: url('/Images/ghana1.jpg');
}

.akan p {
    color: white;
}

.menu {
    background-color: bisque;
    padding: 50px;
    
}

body{
    margin-left: 5vw !important;
    margin-right: 5vw !important;
}